<h1>New Game</h1>
<% @new_letters.each do |x| %>
<%=x %>
<% end %>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="long_words" >
  <input type="submit" value="play">
</form>
